*{
    margin: 0;
    padding: 10px;
}

.startBtn{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.startBtn:hover {background-color: #3e8e41}

.startBtn:active{
    cursor: pointer;
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


#canvas{
    /* border: 5px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #000000;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Bangers',cursive;
    border-radius: 5px;
}

#enemyImage, #playerImage, #backgroundImage, #projectile {
    display: none; 
}

#end {
    display: none;
}

#end .startBtn {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    box-shadow: none;
}